@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");


.campaigns {
    min-width: 1480px;
    height: 227px;
    margin: 32px 0 0;
    display: flex;
    flex-direction: column;


    .container {
        width: 1232px;
        margin: auto;

        .title {
            color: #191919;
            font-size: 14px;
            margin: 0 0 8px;
        }

        .slider {

            image {
                width: 400px;
                padding: 0 8px;


                img {
                    width: 400px;
                    height: 200px;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }
        }
    }


}