.categories {
    padding: 20px 0;
    min-width: 1480px;
    height: 308px;
    background-color: white;

    .container {
        width: 1232px;
        margin: auto;

        h5 {
            margin-left: 5px;
            font-weight: 600;
            font-size: 14px;
        }

        .product-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto auto auto auto auto;

            .product {
                width: 100px;
                height: 108px;
                gap: 8px;
                padding: 5px 0;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 3px;
                display: flex;
                flex-direction: column;
                align-items: center;

                &:hover {
                    background-color: rgba(93, 62, 188, 0.1);
                    color: rgb(93, 62, 188);
                }

                .product-image {
                    width: 48px;
                    height: 48px;
                    border: 1px solid rgba(25, 25, 25, 0.1);
                    border-radius: 6px;
                }

                p {
                    font-size: 15px;
                    // text-align: center;
                    // margin-top: 12px;
                    // line-height: 16px;
                    transition: color 0.2s ease 0s;
                    letter-spacing: -0.035rem;

                }
            }
        }


    }
}

@media screen and (max-width: 1020px) {
    .categories {
        width: 100%;
        height: 700px;

        .container {
            width: 95%;
            height: 100%;

            h5 {
                font-size: 22px;
            }

            .product-container {
                width: 100%;
                height: 100%;
                padding: 20px;
                display: grid;
                grid-template-columns: auto auto auto auto auto;


                .product {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 190px;
                    height: 108px;

                    .product-image {
                        width: 68px;
                        height: 68px;
                        border: 1px solid rgba(25, 25, 25, 0.1);
                        border-radius: 6px;
                    }

                    p {
                        margin: 12px 0 0;
                        font-size: 20px;
                    }

                }
            }
        }
    }

}