.header {
    height: 48px;
    background-color: #4c3398;
    min-width: 1480.8px;
    padding: 0 40px;
    position: fixed;
    top: 0px;
    z-index: 9999;

    .nav {
        padding: 0 20px;
        margin: 0 85px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .header-left {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            picture {
                margin-top: 5px;
                margin-right: 10px;
                width: 35px;

                img {
                    width: 100%;
                }
            }

            a {
                padding: 0px 15px;
                font-size: 14px;
                display: flex;
                align-items: center;
                margin-left: 13px;
                height: 80%;
                border-radius: 10px 10px 0 0;
                color: #fff;
                opacity: 0.8;

                &:hover {
                    background-color: #5c3cbb;
                }
            }

        }

        .header-right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;

            span {
                display: flex;
                color: #fff;

                h4 {
                    margin: 0 7px;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }
    }
}